<%layout('/layouts/boilerplate')%>
<h1>Camp details</h1>
<h2><%= camp.title%></h2>
<p><%= camp.location%></p>
<img src="<%= camp.imge%>" alt="" />
<p><%=camp.description%></p>

<footer>
  <div>
    <a href="/campgrounds/<%= camp._id%>/edit">Edit Campground</a>
  </div>
  <div>
    <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
      <button>Delete Campground</button>
    </form>
  </div>
  <div>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</footer>
